@use "variables" as *;

$br-1: 0.25rem;
$br-2: 1rem;

.expenses-component {
  display: grid;
  gap: 1rem;
  width: min(25rem, calc(100% - 2rem));
  margin-inline: auto;

  .header {
    padding: 1.5rem;
    border-radius: $br-2;

    background: var(--soft-red);
    color: var(--pale-orange);
  }

  .logo {
    width: 3.25rem;
  }

  .main {
    padding: 1.75rem;
    border-radius: $br-2;

    background: var(--pale-orange);
  }

  .chart {
    display: grid;
    gap: .75rem;
    grid-template-columns: repeat(7, 1fr);


    &-column {
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    &-bar {
      position: relative;
      height: 100px;
      border-radius: $br-1;
      background: var(--soft-red);

      &:hover {
        cursor: pointer;
        filter: brightness(120%) opacity(70%);
      }

      &:hover::after {
        content: attr(data-value);
        position: absolute;
      }

      &.today {
        background: var(--cyan);
      }
    }


    &-label {
      font-size: var(--fs-300);
      text-align: center;
      padding-top: .375em;
    }
  }
}
