$colors: (
  "soft-red": hsl(10, 79%, 65%),
  "cyan": hsl(186, 34%, 60%),
  "pale-orange": hsl(33, 100%, 98%),
  "cream": hsl(27, 66%, 92%),
  "med-brown": hsl(28, 10%, 53%),
  "dark-brown": hsl(25, 47%, 15%)
);

$font-sizes: (
  "200": 0.625rem,
  "300": 0.75rem,
  "400": 0.875rem,
  "600": 1.5rem,
  "800": 2.125rem
);

$font-weights: (
  "400": 400,
  "700": 700
);
